<h1>Chat room</h1>
<%# ここのdata-room_idを使ってjs側で部屋を見分ける%>
<div id='messages' data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>


<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: {behavior: 'room_speaker' } %>
